* {
  font-family: sans-serif;
}

.mensaje {
  position: absolute;
  color: #333;
  width: 25vw;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(45deg, aqua, violet);
}
.mensaje::before {
  position: absolute;
  top: -5px;
  right: 20px;
  content: "";
  width: 10px;
  height: 10px;
  z-index: -1;
  transform: rotate(45deg);
  background: violet;
}
